# Ignore everything
*

# But not this file
!.gitignore

# And not the test1 directory or its contents
!/sample/
!/sample/**

!/riseholme_lake/
!/riseholme_lake/**

!/riseholme_south/
!/riseholme_south/**

!/riseholme_north/
!/riseholme_north/**
